<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScenarios.HistoricalScenario"/>
      <class name="testScenarios.SummaryScenario"/>
      <class name="testScenarios.ProfileScenario"/>
      <class name="testScenarios.HoldersScenario"/>
      <class name="testScenarios.ConversationsScenario"/>
      <class name="testScenarios.OptionsScenario"/>
      <class name="testScenarios.AnalysisScenario"/>
      <class name="testScenarios.SustainabilityScenario"/>
      <class name="testScenarios.StatisticsScenario"/>
      <class name="testScenarios.FinancialsScenario"/>
      <class name="testScenarios.ChartScenario"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
